body{
  padding:12px;
  margin:20px;
  background-color:aliceblue;
}
h3{
  text-align:center;
}
.header{
  background-image:url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
  background-size:cover;
  text-align: center;
  color:white;
  height: auto;
  padding:180px;
}
.header>p{
  margin:5px; 
}
.content{
  margin:40px;
}
#about{
  text-align: center;
}
#service{
  text-align:center;
  background-image: url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/s_image.jpg");
  color:white;
  padding:30px;
  background-size: cover;

}
/*  create three column that flaot each other.*/
#products{
  display:flex;
  flex-direction:column;
  justify-content:space-around ;

  
}

#products h3{
  text-align: center;
}
#products>.prod-1{
  float:left;
  width:33%;
}
#products>.prod-2{
  float:left;
  width:33%;
}
#products>.prod-3{
  float: left;
  width:33%;
}
/* clear float propertie after products div*/

/*#products:after{
  content:"";
  display:table;
  clear:both;
}*/
#samples{
  margin:40px;
}

#part-1{
  display: flex;
  justify-content: space-around;
  float: left;
  width:100%;
}
#part-2{
  display:flex;
  justify-content: space-around;
}

.contact{
  background-image:url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/c_image.jpg");
  background-size:cover;
  padding:200px;
  color:white;
}
