
.card-img-overlay{
  color:white;
  height: auto;
  padding:100px;
  margin:0;
}

#service{
  background-image: url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/s_image.jpg");
  color:white;
  padding:30px;
  background-size: cover;
}
.prod{
  display:flex;
}
#prod-1{  
  float:left;
  width:33%;
}
#prod-2{
  float:left;
  width:33%;
}
#prod-3{
  float:left;
  width:33%;
}
#sapmles{
  padding:20px;
  margin:40px;
}
#contact{
  background-image:url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/c_image.jpg");
  background-size:cover;
  padding:100px;
  color: white;
}
input[text]{
  border:2px solid white;
  background:transparent;
  opacity:0.6;
}
input[email]{
  border:2px solid white;
  background-color: #ffffff;
  opacity:0.6;
}
input[text]{
  border:2px solid white;
  background-color: #ffffff;
  opacity:0.6;
}
#text-1 ,#text-2, #text-3{
  display:none;
}
h5{
  font-weight: bold;s
}

/* .form-control{ */
  border:2px solid white;
  background-color: rgb(112, 108, 108);
  color:white;
  font-weight: bold;
}
/* .email{ */
  border:2px solid white;
  background:transparent;
  color:white;
}  
/* .message{ */
  border:2px solid white;
  background:transparent;
  color:white;
} 
#footer{
  margin-top:0;
  background-color: white;
  text-align: center;
} 


