
.card-img-overlay{
  height: auto;
  padding:90px;
  margin:0;
}

.service{
  background-image: url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/s_image.jpg");
  padding:30px;
  background-size: cover;
}
.prod{
  display:flex;
  margin-top:10%;
  margin-bottom: 10%;
}
#prod-1{  
  float:left;
  width:33%;
}
#prod-2{
  float:left;
  width:33%;
}
#prod-3{
  float:left;
  width:33%;
}
#text-1 ,#text-2, #text-3{
  display:none;
}
/* .samples{
margin:5%;
} */
#part-2{
  margin-top: 20px;
  margin-bottom:20px; 
}

#wk8,#wk7,#wk6,#wk5,#wk4,#wk3,#wk2,#wk1{
  position:relative;

}
.img-pres{
  display:none;
  /* background-color:rgba(255,255,255,0.4);this   background must displayed uisng Jquery*/
  color:red;
  margin: 0 auto;
  z-index:999 ;
  top:0;
  right:0;
  bottom:0;
  left:0;
  text-align: center;
  position:absolute;

}
.contact{
  background-image:url("/home/wecode/Documents/Moringa-school-projects/Delani-Studio/img/background/c_image.jpg");
  background-size: cover;
  padding:60px;

}
  .form-control{
  border:1px solid white;
  background-color:transparent;
 
} 
.form-control:hover{
  background-color: grey;
  color:black;
}
.contact .group-form{
  margin-top: 50px;
  width:400px;
}
#name,#emails{
  width:400px;
}
#valid{
  color: blue;
  font-weight: bolder;
}
input[type="text"].form-control::placeholder{
  color:white;
  opacity: 1;
}
input[type="email"].form-control::placeholder{
  color:white;
  opacity: 1;
}

textarea.form-control::placeholder{
  color:white;
  opacity: 1;
}
@media only screen and (max-width:480px){
  img{
 width:50%;
  };
};
@media only screen and (min-width:600px){
  img{
    width:80%;
  };
};